# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Poetry
poetry.lock

# Data artifacts
data/raw/
data/interim/
data/processed/

# Notebooks
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/

# Logs
*.log
